 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<title>$project.getName()</title>
</head>
<body>
<h1>Introduction</h1>
<p>
$project.getDescription()
</p>




<h2>Use Cases</h2>
#foreach( $diagram in $DiagramUtil.getUseCaseDiagrams($project))
  <h3>$diagram.getName() </h3>
  $DiagramUtil.getDiagramAsSVG($diagram);
  
  #foreach($usecase in $DiagramUtil.getUseCases($diagram))
  <h4>$usecase.getName()</h4>
  <p>
  $DiagramUtil.getMemberDescription($usecase)
  </p>
  #end
  
#end

<h2>Classes</h2>
#foreach ($diagram in $DiagramUtil.getClassDiagrams($project))
  <h3>$diagram.getName()</h3>
  
  #foreach($class in $DiagramUtil.getInterfaces($diagram))
  <h4>$class.getName()</h4>
  <p>
  $DiagramUtil.getMemberDescription($class)
  </p>
  #end
  
  
  #foreach($class in $DiagramUtil.getClasses($diagram))
  <h4>$class.getName()</h4>
  <p>
  $DiagramUtil.getMemberDescription($class)
  </p>
  #end
#end



</body>
</html>
